<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <div>
        <h1>Contatos</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur odit odio soluta possimus sunt! Sint iusto quis, officiis officia ipsum praesentium saepe aliquid dolorum aspernatur. Consequuntur molestias accusantium soluta ratione.</p>
    </div>
</body>
</html>